<%- include('layouts/header') %>
<section id="about">
    <div class="container text-center mt-5 p-5 border border-1 border-dark rounded rounded-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-dark">About Us <i class="fa-regular fa-address-card"></i></h1>
                <p>This is a simple CRUD application using Node.js, Express, and MySQL.</p>
                <p>It allows you to create, read, update, and delete records.</p>
                <p>It is a simple example of a full stack application.</p>
            </div>
        </div>

    </div>
</section>
<%- include('layouts/footer') %>